@font-face {
  font-family: text-font;
  src: url(/Roboto-VariableFont_wdth\,wght.ttf);
}

@font-face {
  font-family: logo-font;
  src: url(/Norse-Bold.otf);
}


:root {
    --parapraph-font-color: #3a3a3a;
    --textcolor: #e7e6e6;
    --button-color: #596D48;
    --input-box-color: #E5E7EB;
    font-family: text-font;
}

body {
    margin: 0;
    height: 120vh;
}

a {
    color: var(--textcolor)
}


.outside-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.left-side-container {
    background-image: url('halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 37vw;
    position: relative;
}

.logo-div {
    position: absolute;
    top: 230px;
    background-color: #00000074;
    height: 160px;
    width: 100%;
    color: var(--textcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: logo-font;
    font-size: 55px;
}

.odin-image {
    position: relative;
    bottom: 10px;
    max-width: 150px;
    height: 135px;
}

.logo {
    position: relative;
    top:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer {
    font-size: x-small;
    text-align: center;
    color: var(--textcolor);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
}

.right-side-container {
    width: 63vw;
}

.text-container-one {
    display: flex;
    flex-direction: column;
    height: 35%;
}


.text-box-one {
    margin-top: auto;
    margin-bottom: 50px;
    margin-left: 75px;
    font-weight: 700;
    color: var(--parapraph-font-color);
    text-align: start;
    width: 73%;
    display: flex;
    flex-direction: column;
}

.form-container {
    box-shadow: 5px 5px 15px 5px rgba(173, 173, 173, 0.3);
    height: 29%;
    width: 100%;
}

.sign-up-header {
    font-size: 25px;
    font-weight: 500;
    padding-left: 40px;
    padding-top: 20px;
}

.form-header {
    margin: 0;
    margin-left: 40px;
}

.form-section {
    color: var(--parapraph-font-color);
    margin-top: 20px;
    width: 75%;
    display: flex;
    flex-direction: row;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    font-size: 10px;
}

.input-box {
    width: 250px;
    border: 1px solid var(--input-box-color);
}

.input-box:invalid {
    border-color: red; 
}

.input-box:focus {
    border-color: blue;
    box-shadow: #7a7a7a74;
}

.confirm:valid {
    border-color: green;
}

.first {
    margin-left: 75px;
}

button {
    margin-left: 75px;
    margin-top: 45px;
    margin-bottom: 45px;
    width: 200px;
    height: 50px;
    background-color: var(--button-color);
    border-radius: 7px;
}

.log-in {
    margin: 0;
    margin-left: 75px;
}
